<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Product</title>
        <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">
        <style>
            .sachin{
                width: 90%;
                height: 600px;
                background: rgb(215, 215, 221);
                padding: 1em;
                margin-left: 5%;
                color: rgb(110, 57, 57);
                text-shadow:black
                ;
            }
        </style>
    </head>
    <body>

        <%- include('partials/navbar.ejs')  %>
        

        <!-- main content -->
        <div class="sachin">
            <h1 align="center" style="font-weight: bold;"> ADD PRODUCT</h1>
            <form action="/admin/addproduct" method="post" class="col-md-10" enctype="multipart/form-data" style="margin-left: 6em;">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="productname" class="form-label">Product Name</label>
                        <input type="text" class="form-control" pattern="[A-Za-z]{2,}"  title="Invalid Product Name" id="productname" name="productname" placeholder="Name"
                            required>
                    </div>
                    
                    <div class="mb-3 col-md-6">
                        <label for="productname" class="form-label">Brand</label>
                        <input type="text" class="form-control" id="productname" pattern="[A-Za-z]{2,}"  title="Invalid Brand Name" name="brandname" placeholder="Brand name"
                            required>
                    </div>


                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="productname" class="form-label">Colour</label>
                        <input type="text" class="form-control" id="productname" pattern="[A-Za-z]{2,}"  title="Invalid Color" name="color" placeholder="Enter colour"
                            required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="productname" class="form-label">Category</label>
                        <select name="category" class="form-control" id="category" style="width: 453px;height: 35px;" required>
                            <option value="" selected disabled hidden>Choose Category</option>
                            <% if(typeof(category) !='undefined') { %>
                                <% category.forEach(function(cats) { %>
                                    <option value="<%= cats._id %>"><%= cats.categoryname %></option>
                                    <%})}%>
                                                    
                          </select>
                        <!-- <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              choose category
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Laptop</a>
                              <a class="dropdown-item" href="#">mouse</a>
                              <a class="dropdown-item" href="#">monitor</a>
                            </div>
                          </div> -->
                    </div>


                </div>


                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="productname" class="form-label">price</label>
                        <input type="text" pattern="[0-9]{1,}" title="Enter a Valid Mobile Number" class="form-control" id="price" name="price" placeholder="Enter the price"
                            required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="productname" class="form-label">Quantity</label>
                        <input type="text" pattern="[0-9]{1,}" title="Enter a Valid Mobile Number" class="form-control" id="quantity" name="quantity" placeholder="Quantity"
                        required>
                    </div>


                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="productname" class="form-label">Upload</label>
                        <input class="form-control " type="file" id="productimage" name="image" required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="productname" class="form-label">Warranty</label>
                        <input type="text" class="form-control" id="productname" name="warrenty" placeholder="Warrenty period in years"
                            required>
                    </div>


                </div>
                <div class="row">
                    <div class="mb-3 col-md-12">
                        <label for="productname" class="form-label">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                    </div>        
                


                </div>
                
            
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Add Product" style="margin-left: 25em;">
                </div>
            </form>









        </div>
        <!-- end of main content -->



        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>

            <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    </body>
</html>