
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Table V04</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/shoe/Table_Fixed_Header/images/icons/favicon.ico">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/shoe/Table_Fixed_Header/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/shoe/Table_Fixed_Header/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/shoe/Table_Fixed_Header/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/shoe/Table_Fixed_Header/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/shoe/Table_Fixed_Header/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/shoe/Table_Fixed_Header/css/util.css">
	<link rel="stylesheet" type="text/css" href="/shoe/Table_Fixed_Header/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Sl no</th>
									<th class="cell100 column2">Product</th>
									<th class="cell100 column3">Address</th>
									<th class="cell100 column4">Phone</th>
									<th class="cell100 column5">Price</th>
                                    <th class="cell100 column5">Status</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
                            <!-- {% for book in books %} -->
								<tr class="row100 body">
									<td class="cell100 column1"><!-- {{ forloop.counter }} --></td>
									<td class="cell100 column2">
                                        <!-- {% for b in book.bookingitem_set.all %}
                                            <li>{{ b.product_id.productname }}</li>
                                        {% endfor %} -->
                                    </td>
									<td class="cell100 column3">
                                        <!-- {% for b in book.bookingaddress_set.all %}
                                            <li>{{ b.address }}</li>
                                        {% endfor %} -->
                                    </td>
									<td class="cell100 column4">
                                        <!-- {% for b in book.bookingaddress_set.all %}
                                            <li>{{ b.phone }}</li>
                                        {% endfor %} -->
                                    </td>
									<td class="cell100 column5"><!-- {{ book.totalprice }} --></td>
                                    <td class="cell100 column5"><!-- {{ book.status }} --></td>
								</tr>
                            <!-- {% endfor %} -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br><br>
        <footer class="footer">
            <!-- Footer Top -->
            <div class="footer-top section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer about">
                                <div class="logo">
                                    <a href="/customer/dashboard"><img src="/customer/images/logo2.png" alt="#"></a>
                                </div>
                                <p class="text">Check out the unique collection of Laptops, Desktops, and Computer Accessories on IT Park Digital Shop. From sleek, travel-friendly laptops to sturdy business laptops with superior performance, IT Park is the one-stop destination for all your needs.</p>
                                <p class="call">Got Question? Call us 24/7<span><a href="tel:6161131110">6161131110</a></span></p>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-2 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer links">
                                <h4>Information</h4>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Faq</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="/customer/contact">Contact Us</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-2 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer links">
                                <h4>Customer Service</h4>
                                <ul>
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer social">
                                <h4>Get In Tuch</h4>
                                <!-- Single Widget -->
                                <div class="contact">
                                    <ul>
                                        <li>IT Park</li>
                                        <li>Thruvalla</li>
                                        <li>PATHANAMTHITTA</li>
                                        <li>+9456823685</li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                                <ul>
                                    <li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-flickr"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Top -->
            <div class="copyright">
                <div class="container">
                    <div class="inner">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="left">
                                    <p>Copyright © 2021 <a href="http://www.wpthemesgrid.com" target="_blank">IT PARk</a>  -  All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="right">
                                    <img src="/customer/images/payments.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>







<!--===============================================================================================-->	
	<script src="/shoe/Table_Fixed_Header/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/shoe/Table_Fixed_Header/vendor/bootstrap/js/popper.js"></script>
	<script src="/shoe/Table_Fixed_Header/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/shoe/Table_Fixed_Header/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/shoe/Table_Fixed_Header/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="/shoe/Table_Fixed_Header/js/main.js"></script>

</body>
</html>
